#Interest{
    background-color: azure;
    height: 50%;
    width: 50%;
    display: flex;
    left: 2%;
    justify-content: space-around;
    align-items:center;
    border-radius: 50%;
    color: black;
    font-size: larger;
    font-style: italic;
    margin: 5;

}

section > img {
    height: 100;
    width: 100;
    border-radius: 20%;
    

}
    