
body{
    background-color:blanchedalmond;   
}
main {
   width: 100%;
   height: 50%;
   border-radius: 20%;
   display: grid;
   justify-content:center;
   flex-direction: column;
   align-items: center;
   font-size:larger;
}

main > img{
    border-radius: 20%;
} 

nav{
    
    width: 500px ;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    font-size: large;  
}

nav > a{
    color: #0014f0;
    text-decoration:none;
    
}

a:hover{
    color: crimson;
    font-size: 150%;
    text-decoration: none;
}
    
main > p{
    height: 100%;
    width: 100%;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.quote{
    background-color: aqua;
    position: fixed;
}

.about{
    background-color: aqua;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 30px dotted;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.Sticky{
  position: sticky;
  top: 30px;
  padding: 5px;
  border-radius: 10%;
  margin: 7;
  width: 30%;
}

.img{
    border-radius: 50px;
    height:50%;
    width: 40%;
    position: fixed;
    border: 20px solid;
    margin: 10px;    
}

.Mission{
    height: 100;
    background-color: aqua;
    border-radius: 50px;
    font-style: oblique;
    position: sticky;
    top: 50;
   
}

.Mission2{
    height: 100;
    background-color: aqua;
    border-radius: 50px;
    font-style: oblique;
    position: sticky;
    top: 550;
    
}

#Message{
    height: 5cm;
}